*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    min-width: 500px;
    max-width: 500px;
    min-height: 600px;
    max-height: 600px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 5px 1px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25%;
}

.btn {
    font-size: 20px;
    height: 60px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: rgb(1, 1, 253);
    color: white;
    margin-left: 10px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(39, 39, 230);
}

#quiz-container, #next-btn, #submit-btn, #result, #result-container { 
    display: none; 
}

div#quiz-container p {
    font-size: 25px;
}

#quiz-container {
    margin-bottom: 50px;
    border: 3px dotted blue;
    border-radius: 10px;
    padding: 10px;
}

.question-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

}

.question-container label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.question-container input[type="radio"],
.question-container input[type="checkbox"] {
    margin-right: 10px; 
    margin-left: 100px;
}

.question-container label span {
    word-wrap: break-word;
}

.question-container p {
    font-size: 18px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.quiz-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#restart-btn {
    display: none;
    font-size: 16px;
    height: 60px;
    width: 100px;
}

#welcome {
    font-size: 35px;
    margin-bottom: 100px;
}

body.light-mode { 
    background-color: white; 
    color: black; 
}  

body.dark-mode { 
    background-color: black;
    color: white; 
}