*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    min-width: 500px;
    max-width: 500px;
    min-height: 600px;
    max-height: 600px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 5px 1px;
}

.btn {
    font-size: 20px;
    height: 60px;
    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: rgb(1, 1, 253);
    color: white;
    margin-left: 10px;
}

.btn:hover {
    cursor: pointer;
    background-color: rgb(39, 39, 230);
}